/* 

I know about Unstyled Mode in PrimeVue, but for this project I wanted to use the base PrimeVue style
not Tailwind

That's why I don't use Unstyled Mode and don't connect @tailwind base;

*/

@tailwind components;
@tailwind utilities;


::selection {background: var(--highlight-text-color); color: var(--highlight-bg);}
::-moz-selection {background: var(--highlight-text-color); color: var(--highlight-bg);}
::-webkit-selection {background: var(--highlight-text-color); color: var(--highlight-bg);}